<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%# SEMANTIC UI %>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="layoutstyle.css">
    <title>Adulting 101</title>
</head>
<body>
<div id = 'signup-login' >
    <a href="/login"><button class ="ui inverted yellow button"> Login</button></a>
    <a href ="/signup"><button class="ui inverted yellow button"> Sign Up</button></a>
</div>

<div id = 'title-container'>
    <p id ='title-of-site'>Adulting 101</p>
</div>
<hr>
<div id ='description-container'>
    <p id ='adulting-description'>
    Marzipan sesame snaps topping jelly-o liquorice halvah croissant sesame snaps. Tootsie roll biscuit icing chocolate cake sesame snaps bear claw fruitcake jelly-o toffee. Chocolate cake halvah chocolate pie. Ice cream caramels sugar plum brownie soufflé gummies muffin. Biscuit cake chocolate bar cheesecake jelly jelly beans. Jujubes chocolate sugar plum candy jujubes gummi bears chupa chups jujubes. Fruitcake ice cream sweet. Oat cake candy canes topping muffin lemon drops. Tiramisu jelly chocolate cake cupcake brownie topping jelly-o chocolate bar pie. Sesame snaps wafer soufflé. Sweet roll jelly beans pastry marshmallow chocolate bar toffee pastry chocolate cake tart. Croissant brownie cookie macaroon pudding topping.
    </p>
</div>








<%# SEMANTIC UI %>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

</body>
</html>