<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%# SEMANTIC UI %>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">

    <link rel="stylesheet" type="text/css" media="screen" href="layoutstyle.css">
    <title>Adulting 101</title>
</head>
<body>
<div id = 'signup-login' >
    <a href="/login"><button class ="ui inverted yellow button"> Login</button></a>
    <a href ="/signup"><button class="ui inverted yellow button"> Sign Up</button></a>
</div>

<div id = 'title-container'>
    <p id ='title-of-site'>Adulting 101</p>
</div>

<hr>

<div id='description-container'>
    <p class='adulting-description'>
    <i>Adulting : “Acting like an adult or engaging in activities usually associated with adulthood—often responsible or boring tasks". We hate adulting too, so we created a space just for you to share your lessons learned, tidbits thoughts since - you know, we're all adults now.</i></p>
     <%# <p class='adulting-description' id='happy_adulting'>Happy Adulting!</p> %>
</div>








<%# SEMANTIC UI %>
<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.js"></script>

</body>
</html>