


<h1>Login</h1>
<div id = 'form'>
<form action="/login" method="post">
  <input type="text" name="username" id="username" placeholder=" Enter your username">
  <input type="password" name="password" id="password" placeholder="Enter your password">
  <input type="submit" value="Login" class="ui inverted yellow button">
</form>
</div>
<h4 id ='new_to_us'>New to us? <a href ="/signup">Sign up</a>

