

<h1>Add new post </h1>

<form action="/posts" method="post" class="ui form">
<div class="field">
    <input type="text" name="title" id="titles" placeholder="Enter a title">
    <%# id of title was messing with format in my new post field so i added an s to the end %>
    <input type="text" name="post_content" id="post_content" placeholder="Enter your content here">
    <input type="text" name="photo_url" id="photo_url" placeholder="Enter your photo link here"><br>
    <input type="submit" value="Add new post" class='ui inverted yellow button'>
    </div>
</form>




