
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.3/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css">
    <title>Adulting 101</title>
</head>

<body>

<div id ='signup-login' >
    <a href ='/users/<%= session[:user_id] %>'>
    <button class="ui inverted yellow button"><i class="user icon"></i>Profile</button>
    <a href ="/signout"><button class="ui inverted yellow button"> Sign Out </button></a>
</div>


<% @posts.each do |info| %>
<div id ='posts-container'>
    <div id ='photo_url>'>
    <img src="<%= info.photo_url%>">
    </div>

    <div id ='title'>
    <%= info.title %>
    </div>

    <div id ='post-content'>
    <%= info.post_content%>
    </div>
<% end %>






</body>
</html>

